<div class="card-deck mt-5 mb-3 text-center">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Orders</h4>
    </div>
    <div class="card-body">
      <a class="btn btn-lg btn-block btn-outline-primary" routerLink="current-order">Current Orders</a>
      <a class="btn btn-lg btn-block btn-outline-primary" routerLink="order-history">Order History</a>
    </div>
  </div>
  <div class="card mb-4 box-shadow">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">Reports</h4>
    </div>
    <div class="card-body">
      <a class="btn btn-lg btn-block btn-outline-primary" routerLink="total-stock">Total Stock Sent</a>
      <a class="btn btn-lg btn-block btn-outline-primary" routerLink="van-stock">Stock Sent by Van</a>
    </div>
  </div>
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Setup</h4>
    </div>
    <div class="card-body">
        <a class="btn btn-lg btn-block btn-outline-primary" routerLink="tech">Techs</a>
        <a class="btn btn-lg btn-block btn-outline-primary" routerLink="van">Vans</a>
        <a class="btn btn-lg btn-block btn-outline-primary" routerLink="depot">Depots</a>
        <a class="btn btn-lg btn-block btn-outline-primary" routerLink="item">Items</a>
        <a class="btn btn-lg btn-block btn-outline-primary" routerLink="kit">Kits</a>
        <a class="btn btn-lg btn-block btn-outline-primary" routerLink="service">Services</a>
    </div>
  </div>
</div>
